<%- include('header.ejs') %>

	<body>
		<section class="section is-paddingless-horizontal">
			<div class="container grid">
				<nav class="breadcrumb" aria-label="breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="is-active"><a href="#" aria-current="page"><%= title %></a></li>
					</ul>
				</nav>
			</div>
		</section>

		<section class="section is-paddingless-horizontal" style="padding-top: 0;">
			<div class="container grid" style="max-width: 1024px;">
				<div class="section is-paddingless-horizontal">
					<h1 class="title is-2">
						<%= title %>
					</h1>
					<h2 class="subtitle is-3 has-text-grey-light">
						<%= subtitle %>
					</h2>
				</div>

				<div class="content is-medium">
                    <%- content %>
				</div>
			</div>
		</section>
	</body>

<%- include('footer.ejs') %>
